#
# Copyright 2014 The CyanogenMod Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

import /init.device.rc

on init
    # SONY: Start the TrimArea Daemon.
    class_start sony_ta
    exec /sbin/wait4tad_static

on fs
    mkdir /lta-label 0555 system system
    wait /dev/block/platform/msm_sdcc.1/by-name/LTALabel
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/LTALabel /lta-label nosuid nodev noatime noexec ro barrier=0
    chown system system /lta-label
    chmod 0555 /lta-label

    # SONY: Start early TA-users
    exec /system/bin/taimport

    mkdir /mnt/idd 0751 sony_idd sony_idd

    chown sony_idd sony_idd /mnt/idd
    chmod 0751 /mnt/idd
    exec /system/bin/rm -r /mnt/idd/lost+found
    mkdir /mnt/idd/lost+found 0770 root root

on post-fs
    # Change to socket location on libkeyctrl/suntory for /data encryption
    mkdir /dev/socket/suntory 0755 system system

    # Display color correction is needed in charge only mode as well.
    start display_cc

    exec /system/bin/chargemon
    write /sys/class/power_supply/battery/enable_stop_charging_at_low_battery 1

on post-fs-data
    # Remove lost+found in user and userdebug
    exec /system/bin/rm -r /data/lost+found
    mkdir /data/lost+found 0770 root root

    exec /system/bin/rm -r /cache/lost+found
    mkdir /cache/lost+found 0770 root root

    exec /system/bin/rm -r /mnt/idd/lost+found
    mkdir /mnt/idd/lost+found 0770 root root

    # SONY: Camera
    mkdir /data/camera 0770 media camera
    chown media camera /sys/devices/sony_camera_0/info
    chmod 0770 /sys/devices/sony_camera_0/info
    chown media camera /sys/devices/sony_camera_1/info
    chmod 0770 /sys/devices/sony_camera_1/info

    # Update WIFI MAC address
    mkdir /data/misc/wifi/prima 0775 wifi wifi
    exec /system/bin/mac-update

on early-boot
    start ta_qmi_service
    start sct_service

    exec /system/bin/sh /system/etc/pre_hw_config.sh

on boot
    exec /system/bin/taimport property

    chmod 660 /dev/rtc0
    chown system system /dev/rtc0

    # Do not power down SIM in flight mode (required for Wi-Fi EAP-SIM)
    setprop persist.radio.apm_sim_not_pwdn 1

    # Enable Sony RIC
    mount securityfs securityfs /sys/kernel/security nosuid nodev noexec
    write /sys/kernel/security/sony_ric/enable 1

on property:sys.soc_update_request=1
    write /sys/class/power_supply/bms/soc_update_request 1

on property:vold.decrypt=trigger_restart_framework
    start display_cc

on property:gsm.nitz.time=*
    exec /system/bin/scdnotifier nitz

# Fast Dormancy
on property:ro.semc.enable.fast_dormancy=false
    stop fast-dormancy

# Update WIFI MAC address
service mac-update /system/bin/mac-update
    class main
    user wifi
    oneshot

# Start suntrold
service suntrold /system/bin/suntrold
    user system
    group system
    oneshot
    class main

# Start Credential manager daemon
service credmgrd /system/bin/credmgrd
    user system
    group system
    socket credmgr stream 0660 system system
    class main

# Start system_monitor
service system_monitor /system/bin/system_monitor
    socket sysmon stream 0660 root system
    class core
    user root

# display color calibration
service display_cc /system/bin/display_color_calib
    class main
    oneshot
    disabled

service iddd /system/bin/iddd
    class core
    user idd
    group idd log

# SONY: TrimArea Daemon
# Last 2 args: start block(blk size 128k), number of blocks(partitionsize(kb)/128(kb))
service tad_static /sbin/tad_static /dev/block/mmcblk0 1,16
    user root
    group root
    socket tad stream 0660 system sony_ta
    class sony_ta

service updatemiscta /system/bin/updatemiscta
    class main
    user root
    oneshot

# Trim Area QMI service
service ta_qmi_service /system/bin/ta_qmi_service
    user root
    disabled

# Secure Config Transfer service
service sct_service /system/bin/sct_service
    user root
    disabled

service illumination /system/bin/illumination_service
    socket illumination stream 0660 root system
    class core
    user root

service scd /system/bin/scd
    class main
    user system
    group system

service ssr_dump /system/bin/ssrapp
   class main
   user root

# Start RIC
service ric /sbin/ric
    user root
    group root
    oneshot
    class main

# Fast Dormancy
service fast-dormancy /system/bin/fast-dormancy
    user root
    group root inet net_raw net_admin
    socket fastdorm stream 0660 system system
    class main
